<h2>Register an account</h2>
<div align="center">
  <form method="post" action="/users">
    <label>Email:</label>
    <input name="user[email]" type="email">
  
    <label>Password:</label>
    <input name="user[password]" type="password">
  
    <input type="submit" value="Register">
</form>
</div>

<div>
<%if @errors%>
  <%@errors.each do |error|%>
    <p><%=error%> </p>
  <% end %>
<%end%>

</div>
